@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Howey boom stick</title>
</head>
<body>
    <h1>Sasla STICK</h1>
</body>
</html>
