<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation Starter Template</title>
    <environment names="Development">
        <link href="~/content/css/foundation.css" rel="stylesheet" />
    </environment>
    <environment names="Staging, Production">
        <link href="~/content/css/foundation.min.css" rel="stylesheet" />
        <link href="~/content/css/app.min.css" rel="stylesheet" />
    </environment>
</head>
<body>

    <div class="title-bar" data-responsive-toggle="myMenu" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title">I am Geek</div>
    </div>

    <nav class="top-bar" id="myMenu">
        <div class="top-bar-left" data-responsive-menu="drilldown medium-dropdown" >
            <ul class="menu">
                <li class="menu-text">I am Geek</li>
                <li><a asp-controller="BlogPost" asp-action="Index" >Home</a></li>
                <li><a href="">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="row medium-12 small-12 columns">
        @RenderBody()
    </div>
    <environment names="Development">
        <script src="~/scripts/jquery.js"></script>
        <script src="~/scripts/what-input.js"></script>
        <script src="~/scripts/foundation.js"></script>
    </environment>
    <environment names="Staging, Production">
        <script src="~/scripts/jquery.js"></script>
        <script src="~/scripts/what-input.js"></script>
        <script src="~/scripts/foundation.min.js"></script>
    </environment>
    <script>
        $(document).foundation();
    </script>

</body>
</html>